/*
* File imported by:
* company-actions.component.js
* company-info.component.js
* profile-info.component.js
* user-info.component.js
*/

.CardTitle.CardTitle {
  font-size: 1.0625rem;
}

.editBtn {
  color: #34C38F;
}

.textMuted {
  color: #74788D;
  font-size: 0.813rem;
}